<style>
    .content {
        max-width: 500px;
        margin: auto;
    }
</style>

<body>
    <div class="content">
        {{if .Success}}
        <h2>Reset password link send to your email</h2>
        {{else}}
        <h1>{{.PageTitle}}</h1>

        <form method="POST">
            <label>Email:</label><br />
            <input type="text" name="email"><br />
            <input type="submit" value="Reset password">
        </form>
        {{end}}
    </div>
</body>