<style>
    .content {
        max-width: 500px;
        margin: auto;
    }
</style>

<body>
    <div class="content">
        <h1>{{.PageTitle}}</h1>

        <form method="POST">
            <label>Email:</label><br />
            <input type="text" name="email"><br />
            <label>Password:</label><br />
            <input type="password" name="password"><br />
            <input type="submit" value="Sign in">
        </form>

        <form action="/signin/google">
            <input type="submit" value="Sign in with Google" />
        </form>


        <a href="/signup">Don't have an account?</a> | <a href="/forgot">Forgot password?</a>
    </div>

</body>