<style>
    .content {
        max-width: 500px;
        margin: auto;
    }
</style>

<body>
    <div class="content">
        <h1> Welcome {{.Email}}! </h1>

        {{if .Edit}}
        <form method="POST">
            <label>Full name:</label><br />
            <input type="text" name="fullname" value="{{.Fullname}}" placeholder="Enter your full name"><br />
            <label>Address:</label><br />
            <input type="autocomplete" name="address" value="{{.Address}}" placeholder="Enter your address"><br />
            <label>Telephone:</label><br />
            <input type="text" name="telephone" value="{{.Telephone}}" placeholder="Enter your number"><br />
            <input type="submit" value="Save">
        </form>
        {{else}}
        <form>
            <label>Full name:</label><br />
            <input type="text" name="fullname" value="{{.Fullname}}" placeholder="Enter your full name" disabled><br />
            <label>Address:</label><br />
            <input type="text" name="address" value="{{.Address}}" placeholder="Enter your address" disabled><br />
            <label>Telephone:</label><br />
            <input type="text" name="telephone" value="{{.Telephone}}" placeholder="Enter your number" disabled><br />
            <button onclick="location.href='/edit'" type="button">Edit</button>
        </form>


        {{end}}

        <form action="/signout" method="POST">
            <input type="submit" value="Sign out" />
        </form>

    </div>
</body>