<style>
    .content {
        max-width: 500px;
        margin: auto;
    }
</style>

<body>
    <div class="content">
        <h1>Reset your password</h1>

        <form method="POST">
            <label>New password:</label><br />
            <input type="password" name="password"><br />
            <input type="submit" value="Reset password">
        </form>
    </div>
</body>